@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Honk&family=Mea+Culpa&family=Splash&display=swap');

@font-face {
    font-family: "campus";
    src: url('../fontes/campus.ttf');
}

@font-face {
    font-family: "truecolor";
    src: url('../fontes/Truecolor.otf');
}

@font-face {
    font-family: "otherspace";
    src: url('../fontes/otherspace.ttf')
}


*{
    margin: 0px;
    padding: 0px;
}

nav,
footer,
main {
    float: left;
}

nav.superior,
nav.topo{
    width: 100%;
}

body{
    font-family: Verdana, sans-serif;
    background-image: url('../imagem/fundo.png');
}

header{
    font-family: campus, sans-serif;
    background-color: #F5DEB3; /* Wheat */
    height: 100px;
    padding: 50px;
    text-align: center;
}

main{
    background-color: #F5DEB3; /* Wheat */
    margin: 20px 0px;
    padding: 20px;
    text-align: justify;
    float: right;
    width: 80%;
}

footer{
    background-color: rgb(245,222,179,.75); /* Wheat in RGB with 75% transparency*/
    font-size:small;
    font-style: italic;
    text-align: center;
    width: 100%;
    padding: 20px;
}

h3{
    font-family: otherspace;
    color: red;
}

h4{
    font-family: Honk;
    color: #555555;
}

h5{
    font-family: Mea+Culpa;
    color: rgb(50,150,250);
}

h6{
    font-family: Splash;
    color: yellowgreen;
}

#container{
    background-color: #F5DEB3; /* Wheat */
    margin: 50px auto;
    width: 80%;
}

nav.topo ul {
    background-color:#DEB887; /* BurlyWood */
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
}

nav.topo li {
    display: inline-block;
}

nav.topo li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
}

nav.topo li a:hover{
    color:white;
    background-color: #D2691E;
}

nav.topo .active{
    color:white;
    background-color: #D2691E;
}

nav.superior{
    background-color:#DEB887; /* BurlyWood */
    text-align: center;
}

nav.superior li{
    display: inline-block;
}

nav.superior li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 14px 14px;
}

nav.superior li a:hover{
    color:white;
    background-color: #D2691E;
}

nav.superior .active {
    color:white;
    background-color: #D2691E;
}

nav.lateral{
    font-family: truecolor, sans-serif;
    width: 15%;
    margin: 20px 0px;
    padding: 0px;
}

nav.lateral ul{
    background-color:#DEB887; /* BurlyWood */
    list-style-type: none;
}

nav.lateral li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 14px 14px;
}

nav.lateral li a:hover{
    color: white;
    background-color: #D2691E;
}

nav.lateral .active {
    color:white;
    background-color: #D2691E;
}


table.tabela{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

table.tabela th,
table.tabela td{
    border: 1px solid black;
    padding: 1%;
}

table.tabela tr:nth-child(even){
    background-color: #ddd;
}

table.tabela th{
    background-color: #04a;
    color: white;
    text-align: center;
}