*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#FAEBD7;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
header{
    background-color:#FFDEAD; /* NavajoWhite */
    margin: 50px;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
main{
    margin: 50px;
    padding: 20px;
    text-align: justify;
}
footer{
    background-color: #F5DEB3; /* Wheat */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 50px auto;
    width: 80%;
}
#container{
    background-color: #F5DEB3; /* Wheat */
    margin: 50px auto;
    width: 80%;
    align-self: center;

}
.imagem{
    width: 50%;
}
h5{
    font-style: italic;
}
nav.topo{
    background-color:#DEB887; /* BurlyWood */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    float: left
}
nav.superior{
    background-color:#DEB887; /* BurlyWood */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
nav.superior li{
    display: inline-block;
}

nav.lateral{
    float: left;
}
