*{
    margin: 0px;
    padding: 0px;
}

nav,
footer,
main {
    float: left;
}

nav.superior,
nav.topo{
    width: 100%;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #F5DEB3; /* Wheat */
    height: 100px;
    padding: 50px;
    text-align: center;
}

main{
    background-color: #F5DEB3; /* Wheat */
    margin: 20px 0px;
    padding: 20px;
    text-align: justify;
    float: right;
    width: 85%;
}

footer{
    background-color: #F5DEB3; /* Wheat */
    font-size:small;
    font-style: italic;
    text-align: center;
    width: 100%;
    padding: 20px;
}

#container{
    background-color: #F5DEB3; /* Wheat */
    margin: 50px auto;
    width: 80%;
}

nav.topo ul {
    background-color:#DEB887; /* BurlyWood */
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
}

nav.topo li {
    display: inline-block;
}

nav.topo li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
}

nav.topo li a:hover{
    color:white;
    background-color: #D2691E;
}

nav.topo .active{
    color:white;
    background-color: #D2691E;
}

nav.superior{
    background-color:#DEB887; /* BurlyWood */
    text-align: center;
}

nav.superior li{
    display: inline-block;
}

nav.superior li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 14px 14px;
}

nav.superior li a:hover{
    color:white;
    background-color: #D2691E;
}

nav.superior .active {
    color:white;
    background-color: #D2691E;
}

nav.lateral{
    width: 10%;
    margin: 20px 0px;
    padding: 10px;
}

nav.lateral ul{
    background-color:#DEB887; /* BurlyWood */
    list-style-type: none;
}

nav.lateral li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 14px 14px;
}

nav.lateral li a:hover{
    color: white;
    background-color: #D2691E;
}

nav.lateral .active {
    color:white;
    background-color: #D2691E;
}